<h1>Sessions#new</h1>
<div class="box">
	<%= semantic_form_for @session, :url => sessions_path do |form| %>

	  <%= form.inputs :name => "Your Secure Information" do %>
	    <%= form.input :login %>
	    <%= form.input :password %>
	  <% end %>
	  <%= form.buttons  %>
	<% end %>
</div>